@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }

}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;

    }

}

:root {
  --main-color: #ffffff;
  --base-color: #323232;
}

html {
    height: 100%;

}

body { 
    font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 1.2rem;
    height: 100%;
    margin: 0;
    color: var(--main-color);
    /* background-color: #4E5252; */
    background-color: var(--main-color);
    

}

.contents {
    background-color: var(--base-color);

}

h1 {
    font-size:3.5rem;
    display:inline;
    cursor: default;

}

p.description {
    /* font-size:1.8vh; */
    cursor: default;

}

.texts > a {
    color: var(--main-color);
    
}

ul.links-list {
    font-size: 2rem;
    cursor: default;

}

ul.links-list > li > a {
    color: var(--main-color);

}

span.inst-txt {
    font-size: 1rem;

}

.neko {
    
    background-color: #ffffff;
    /* background-image: url("../images/img1.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.neko-fadeIn {
    animation: fadeIn 2s ease 0s 1 normal;
}

.neko-fadeOut {
    animation: fadeOut 2s ease 0s 1 normal;
}