@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }

}


html {
    height: 100%;

}

body { 
    font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 1.2rem;
    height: 100%;
    margin: 0;
    color: #D3DFDF;
    /* background-color: #4E5252; */
    background-color: #C7D3D3;
    

}

.contents {
    background-color: #4E5252;

}

h1 {
    font-size:3rem;
    display:inline;
    cursor: default;

}

p.description {
    font-size:1rem;
    cursor: default;

}

.texts > a {
    color: #D3DFDF;
    
}

ul.links-list {
    font-size: 2rem;
    cursor: default;

}

ul.links-list > li > a {
    color: #D3DFDF;

}

.neko {
    animation: fadeIn 2s ease 0s 1 normal;
    background-color: #C7D3D3;
    /* background-image: url("../images/img1.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

