@keyframes scroll {
    0% {
        transform: translateY(-5px);
        opacity: 0;

    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes fallback {
    0% {
        transform: translateY(5px);
        opacity: 0;

    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}


.description-default {
    animation-duration: 0.5s;
    animation-name: fallback;

}

.description-link {
    animation-duration: 0.5s;
    animation-name: scroll;

}



