.reverse {
    background-color: #ffffff;
    color: #324660;

    transition-timing-function: ease-out;
    transition: 1.0s ;
    
}

.link-reverse {
    color: #324660 !important;
    transition-timing-function: ease-in;
    transition: 1s;

}

/* 読み込み時にアニメーションしてしまうため、../reverser.ts 内に記述 */
/* body, a {
    transition: 1s;

} */