html {
    height: 100%;
}

body { 
    font-family: "Rounded Mplus 1c", -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 1.2rem;
    height: 100%;
    margin: 0;

    background-color: #4E5252;

}

.texts > a {
    color: #D3DFDF;
    
}

.contents{
    background-image: url("../images/img1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #4E5252;
}
