@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }

}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;

    }

}

:root {
  --main-color: #ffffff;
  --base-color: #4A4C59;
}

html {
    height: 100%;
    font-size: 18px;

}

@media (max-width: 700px) {
    html {
        font-size: 13px; 
    }
}

@media (max-height: 600px) {
    html {
        font-size: 13px; 
    }
}

body { 
    font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 1.2rem;
    height: 100%;
    margin: 0;
    color: var(--main-color);
    /* background-color: #4E5252; */
    background-color: var(--main-color);

}

.col-sm-5 {
    height: 40vh;
}

.col-sm-7 {
    height: 60vh;
}

@media (min-width: 576px) {
    .col-sm-5 {
        height: 100vh;
    }
    
    .col-sm-7 {
        height: 100vh;
    }

}

.contents {
    background-color: var(--base-color);

}

h1 {
    font-size:3.5rem;
    display:inline;
    cursor: default;

}

p.description {
    /* font-size:1.8vh; */
    cursor: default;

}

.texts > a {
    color: var(--main-color);
    
}

ul.links-list {
    font-size: 2rem;
    cursor: default;

}

ul.links-list > li > a {
    color: var(--main-color);

}

span.inst-txt {
    font-size: 1rem;

}

.logo-nostr {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.logo-nostr svg {
    margin-top: -0.4rem;
}

.logo-mal {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.logo-mal svg {
    margin-top: -0.4rem;
}

.neko {
    
    background-color: rgb(30, 8, 255);
    background-image: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.neko-fadeIn {
    animation: fadeIn 2s ease 0s 1 normal;
}

.neko-fadeOut {
    animation: fadeOut 2s ease 0s 1 normal;
}